  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-4">
            <div class="footer-info">
              <img src="../../assets/foodSlider/Foodcognics-Logo.png" >
              <p>
                Shop no 101, Opulent central park, <br/>shewalewadi chowk, solapur-hadapsar road, <br/>Pune-412132<br>
                
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="info col-lg-2 col-md-4 ">
            <i class='bx bxs-phone-call' style="margin-right: 8px; color: orange"></i>+91 7218024999<br>
            <i class='bx bx-envelope' style="color: orange;"></i>foodcognics@gmail.com<br>
          </div>
          <div class="time col-lg-2 col-md-4">
            Monday - Saturday<br>
            10:00 A.M. – 06:00 P.M.<br>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"><i class="bi bi-arrow-up-short"></i></a>
    <!-- <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>procure</span></strong>. All Rights Reserved          
    </div>
    </div> -->
  </footer><!-- End Footer -->