<div class="container">
  <div data-aos="fade-left"><h1>About Us</h1></div>
  <div class="section" data-aos="fade-right">
    <p>
      Embracing a comprehensive approach, FoodCognics delivers an
      all-encompassing solution addressing the multifaceted challenges in the
      current food industry landscape. Our 12-month handholding program is
      tailored for aspiring food startups, guiding them from conceptualization
      to realization. We foster and transform ideas into scalable, lucrative
      ventures, offering a seamless journey through services like product
      ideation, business plan development, feasibility research, product
      formulation, contract manufacturing setup, project management, regulatory
      compliance, vendor coordination, and client satisfaction. Our design
      integrates cutting-edge food safety standards and the latest technological
      advancements in flooring, drainage, processing machinery, utilities, and
      more, positioning us as your dedicated in-house project team.
    </p>
  </div>
</div>

<h2>Milestones at a glance</h2>
<div class="container1" style="width: 100%; max-width: 1118px">
  <div class="inner-container">
    <div
      class="TS-title"
      data-aos="flip-left"
      class="aos-init aos-animate"
    ></div>
    
    <div class="row tool_box" data-aos="fade-right">
      <div class="col-auto">
        <div class="tool-name">
          <img
            src="../../assets/about/about1.jpg"
            alt=" Icon"
            class="me-2"
          />
          1000+ happy clients
        </div>
      </div>
      <div class="col-auto">
        <div class="tool-name">
          <img src="../../assets/about/about2.png" alt=" Icon" class="me-2" />
          5000+ FSSAI queries solved
        </div>
      </div>
      <div class="col-auto">
        <div class="tool-name">
          <img src="../../assets/about/about3.png" alt=" " class="me-2" />
          30+ new brand launched
        </div>
      </div>
      <div class="col-auto">
        <div class="tool-name">
          <img src="../../assets/about/about4.png" alt=" " class="me-2" />

          90+ newly developed products
        </div>
      </div>
      <div class="col-auto">
        <div class="tool-name">
          <img src="../../assets/about/about5.png" alt=" " class="me-2" />
          Project set up
        </div>
      </div>
      <div class="col-auto">
        <div class="tool-name">
          <img src="../../assets/about/about6.jpg" alt=" " class="me-2" />
          Packaging design
        </div>
      </div>
      <div class="col-auto">
        <div class="tool-name">
          <img src="../../assets/about/about7].png" alt=" " class="me-2" />
          Regulatory services
        </div>
      </div>
    </div>
  </div>
</div>


