<div *ngIf="selectedItem === 'DPR'">
  <div class="container" data-aos="fade-right">
    <div class="content">
        <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
        </div>
      <div>
      <div class="project-details">
        <h1>DPR</h1>
  
        <div class="section">
          <i class='bx bxs-chevron-right-circle'></i><p>Ideation and nuturing the Product </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Survellence and Raw material data hunting</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Assistance in selecting the product</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Capacity finalization & Budgetory estmation of project</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Value Engineering</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Design Engineering</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Machinery specification assistance</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Production process Roadmap</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Machineries ,Utilities Financials</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Market Entry Strategy</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Market Linkage </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Human Resource Calculation
          </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Business Financial</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Feasibility-Study-Report'">
  <div class="container" data-aos="fade-right">
      <div class="content">
          <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
          </div>
        <div>
        <div class="project-details">
          <h1>Feasibility Study Report</h1>
    
          <div class="section">
            <i class='bx bxs-chevron-right-circle'></i><p>Support in Estimating total project cost</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Guidance in Finalizing finance</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Analysing Financial Viability</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Backing in competitors study.</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Exploring New Opportunities for Products</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div *ngIf="selectedItem === 'Techno-Economic-Viability-Study-Report'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Techno Economic Viability Study Report</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Identification of the risk associated with product.</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Forming risk mitigation strategies.</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Evaluating the financial risks.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->