<div *ngIf="selectedItem === 'DPR'">
<div class="container" data-aos="fade-right">
    <div class="content">
        <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
        </div>
      <div>
      <div class="project-details">
        <h1>DPR</h1>
  
        <div class="section">
          <i class='bx bxs-chevron-right-circle'></i><p>Finalization of the Product</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Raw Material Analysis</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Assistance in Finalizing production Capacity</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Selection of machinery according to capacity and budget</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Finalizing the Manufacturing Process</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Forward & Backward Linkage</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Calculation of Manpower Requirement</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Project Financials</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<div *ngIf="selectedItem === 'Building-Design-Phase'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Building Design Phase</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>preparation of Civil Layout</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Calculation of Civil Estimate</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Verification from Chartered Civil Engineer</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Modification in Existing Civil Layout</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->
<!--  -->
<div *ngIf="selectedItem === 'Land-Selection'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Land Selection</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Assistance in Selecting plant location</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Assistance in Land Acquisition (MIDC,Mega Food Park)
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->
<div *ngIf="selectedItem === 'Machinery-Selection'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Machinery Selection</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Guidance for Adopting New technology</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Selection of Machinery According to Technolgy
            </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Identification of Suitable Supplier</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Budget Consideration
          </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Vendor Verification</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Financial Comparative study on Machinery.
        </p>
        <i class='bx bxs-chevron-right-circle'></i><p>Supporting in  Negotiation.
        </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->
<div *ngIf="selectedItem === 'NPD'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>NPD</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Market Research</p>
              <i class='bx bxs-chevron-right-circle'></i><p>Ideation and Concept Development
            </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Benchmark/Competitors Study</p>
            <i class='bx bxs-chevron-right-circle'></i><p>Estimation of Raw Material required for Production
          </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Arrangement of raw materail for trials</p>
          <i class='bx bxs-chevron-right-circle'></i><p>Formulation of SOPs.
        </p>
        <i class='bx bxs-chevron-right-circle'></i><p>Prototype Development
        </p>
        <i class='bx bxs-chevron-right-circle'></i><p>Product Testing and Validation</p>
        <i class='bx bxs-chevron-right-circle'></i><p>Manufacturing Support
      </p>
      <i class='bx bxs-chevron-right-circle'></i><p>Cost Analysis and Value Engineering
      </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->
<div *ngIf="selectedItem === 'Labelling-&-Packaging'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Labelling & Packaging </h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Assistance in Labelling
                </p>
              <i class='bx bxs-chevron-right-circle'></i><p>Assistance in Packaging
            </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Guidance in Logo Design
            </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Brand Name Suggestion
          </p>
          <i class='bx bxs-chevron-right-circle'></i><p>Label Verification as per FSSAI.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->
<div *ngIf="selectedItem === 'Regulatory-Services'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Regulatory Services</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Food Licensing- FSSAI
                </p>
              <i class='bx bxs-chevron-right-circle'></i><p>MPCB
            </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Shop Act
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->
<div *ngIf="selectedItem === 'Vendor-Selection-&-Management'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Vendor Selection & Management</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Identification & Verification of Vendors
                </p>
              <i class='bx bxs-chevron-right-circle'></i><p>Contract Negotiation    
            </p>
            <i class='bx bxs-chevron-right-circle'></i><p>Communication and Relationship Building
            </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->
<div *ngIf="selectedItem === 'Site-supervision'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Site supervision</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>weekly/Fortnightly/Monthly site visit
                </p>
              <i class='bx bxs-chevron-right-circle'></i><p>Expertise site visit.(Food Technologist,Project Co-ordinator,Engineers Etc.)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->
<div *ngIf="selectedItem === 'Preparation-Of-progress-report'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Preparation Of  progress report</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Evaluating the working of project   
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->

<!--  -->
<div *ngIf="selectedItem === 'Value-Engineering'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Value Engineering</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Machine Engineering 
                </p>
                <i class='bx bxs-chevron-right-circle'></i><p>Designing of utility space
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->
<!--  -->
<div *ngIf="selectedItem === 'Master-Project-Budget-preparation'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Master Project Budget preparation</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Assistance in Financial Data Tracking  
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--  -->
<div *ngIf="selectedItem === 'Preparation-of-Implementation-Schedule'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Preparation of Implementation Schedule</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Formulating Road-map of project working
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <!--  -->
<div *ngIf="selectedItem === 'Documents-&-Handover-Procedures'">
    <div class="container" data-aos="fade-right">
        <div class="content">
            <img src="../../../assets/foodSlider/Picture4.png" alt="Project Image">
            </div>
          <div>
          <div class="project-details">
            <h1>Documents & Handover Procedures</h1>
      
            <div class="section">
              <i class='bx bxs-chevron-right-circle'></i><p>Guidance in Documentation 
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->